.div-card-main{
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );

}
.div-card {
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.527);
    padding: 15px;
    width:550px ;

}
.div-card img {
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.527);
    padding: 15px;
    width:250px ;

}
.btn-code{
    text-decoration: none;
    margin: 5px;
    padding: 5px 20px;
    font-weight: 500;
    color: aliceblue;
    background-color: rgba(87, 82, 82, 0.473);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}
a:hover{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(69, 135, 209);
}
.btn-demo{
    text-decoration: none;
    margin: 5px;
    padding: 5px 20px;
    font-weight: 500;
    color: aliceblue;
    background-color: rgba(35, 115, 235, 0.473);
    border-radius: 5px;
    border: 1px solid rgb(252, 252, 252);
}
.btn-demo:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(114, 104, 104);
}






@media screen and (max-width:450px) {

    .div-card-main{
        display: grid;
        gap: 30px;
        justify-content: center;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    
    }

    .div-card {
       
        min-height: 290px   ;
        border-radius: 5px;
        background-color: rgba(49, 49, 49, 0.527);
        padding: 5px;
        width:280px ;
    
    }
    .div-card img {
        border-radius: 5px;
        background-color: rgba(49, 49, 49, 0.527);
        padding: 10px;
        width:150px ;
    
    }


}
