.my-tag{
    
    border-left: 5px solid rgb(53, 118, 192);
    color: rgb(244, 244, 245);
}

.div-parsonal{
    color: aliceblue;
    padding: 20px;
    background: rgba(151, 151, 151, 0.116);
    border-radius: 7px;
}
.div-parsonal h1{
    color: rgb(100, 166, 252);

}
.div-parsonal p{
    font-size: 20px;

}
.box-div{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}