.main-div-banner{
    min-height: 90vh;
    align-items: center;
justify-content: space-evenly;
}
.pp-img{
  margin-left: 15%;
    width: 400px;
    height: 400px;
    border: 5px solid rgb(52, 95, 145);
    box-shadow: 0 18px 45px   rgb(93, 117, 161);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/habib2.png);
}
h1{
    font-weight: 600;
 font-family:Georgia, 'Times New Roman', serif;
}
.heading{
    
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#9acdf7,#0e71c2);
}
         
.btn-grad {
    background-image: linear-gradient(to right, #3eb1df 0%, #4c67c2  51%, #2499dc  100%);
   
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 8px 15px   rgb(145, 143, 143);
    border-radius: 10px;
    border: none;
    font-weight: 600;
   
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .icon-css-baner a{
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
  }
  .icon-css-baner a:hover{
    color: #47afeb;
    background-color:transparent;
  }
  .p-banner{
   
    line-height: 28px;
    color: #bac0c4;
    font-size: 20px;
    font-weight: 400;
  }
 

  @media screen and (max-width:450px) {

    .pp-img{
    
        width: 300px;
        height: 300px;
        border: 5px solid rgb(52, 95, 145);
        border-radius: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(../images/habib2.png);
    }

    
   }
